.sugo-empty
  .ant-select-dropdown--empty
  .ant-select-dropdown-menu-item
    padding-right 0
    padding-left 0
  margin 0 8px
  font-size 14px
  line-height 22px
  text-align center

.sugo-empty-image
  height 100px
  margin-bottom 8px
  img
    height 100%

.sugo-empty-description
  margin 0

.sugo-empty-footer
    margin-top 16px

.sugo-empty-small
  margin 8px 0
  .sugo-empty-image
    height 35px

.sugo-empty-normal
  margin 32px 0

.sugo-empty-normal
.sugo-empty-image
  height 40px
